<div class="jumbotron">
  <div class="container">
    <h1>TOP 5</h1>
  </div>
</div>

<p>
  <% if current_user %>
    <%= link_to "add your own Top 5", new_list_path %>
  <% end %>
</p>
<table>
  <thread>
    <tr>
      <th>Topic</th>
    </tr>
  </thread>
  <tbody>
    <% @lists.each do |list| %>
        <tr><td><%= list.topic %></td></tr>
        <tr><td>1. <%= list.first %> </td></tr>
        <tr><td>2. <%= list.second %> </td></tr>
        <tr><td>3. <%= list.third %> </td></tr>
        <tr><td>4. <%= list.fourth %> </td></tr>
        <tr><td>5. <%= list.fifth %> </td></tr>
        <tr><td><%= link_to 'Show', list %>
        <% if current_user == list.user %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Edit', edit_list_path(list) %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Delete', list, method: :delete, data: {confirm: 'Are you sure'} %>
        <% end %>
        </td></tr>

    <% end %>

  </tbody>

</table>
