<h1>You're in the New List form</h1>

<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </div>
  <div>
    <%= f.label :first %>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :location1 %>
    <%= f.text_field :location1 %>
  </div>
  <div class="field">
    <%= f.label :price1 %>
    <%= f.text_field :price1 %>
  </div>
  <div class="field">
  <%= f.label :description1 %>
  <%= f.text_field :description1 %>
  </div>

  <div>
    <%= f.label :second %>
    <%= f.text_field :second %>
  </div>
  <div class="field">
    <%= f.label :location2 %>
    <%= f.text_field :location2 %>
  </div>
  <div class="field">
    <%= f.label :price2 %>
    <%= f.text_field :price2 %>
  </div>
  <div class="field">
  <%= f.label :description2 %>
  <%= f.text_field :description2 %>
  </div>

  <div>
    <%= f.label :third %>
    <%= f.text_field :third %>
  </div>
  <div class="field">
    <%= f.label :location3 %>
    <%= f.text_field :location3 %>
  </div>
  <div class="field">
    <%= f.label :price3 %>
    <%= f.text_field :price3 %>
  </div>
  <div class="field">
  <%= f.label :description3 %>
  <%= f.text_field :description3 %>
  </div>

  <div>
    <%= f.label :fourth %>
    <%= f.text_field :fourth %>
  </div>
  <div class="field">
    <%= f.label :location4 %>
    <%= f.text_field :location4 %>
  </div>
  <div class="field">
    <%= f.label :price4 %>
    <%= f.text_field :price4 %>
  </div>
  <div class="field">
  <%= f.label :description4 %>
  <%= f.text_field :description4 %>
  </div>

  <div>
    <%= f.label :fifth %>
    <%= f.text_field :fifth %>
  </div>
  <div class="field">
    <%= f.label :location5 %>
    <%= f.text_field :location5 %>
  </div>
  <div class="field">
    <%= f.label :price5 %>
    <%= f.text_field :price5 %>
  </div>
  <div class="field">
  <%= f.label :description5 %>
  <%= f.text_field :description5 %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
  <% end %>
