<h1>you are in the List view show.html.erb</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Topis:</strong>
  <%= @list.topic %>
</p>

<p>
  <strong>Submited by User:</strong>
  <%= User.find(@list.user_id).user_name %>
</p>

<p>
  <strong>1.<%= @list.first %></strong>
</p>
<p>
  <strong>location</strong>
  <%= @list.location1 %>
</p>
<p>
  <strong>price $</strong>
  <%= sprintf('%.2f',(@list.price1)) %>
</p>
<p>
  <strong>description</strong>
  <%= @list.description1 %>
</p>

<p>
  <strong>2.<%= @list.second %></strong>
</p>
<p>
  <strong>location</strong>
  <%= @list.location2 %>
</p>
<p>
  <strong>price $</strong>
  <%= sprintf('%.2f',(@list.price3)) %>
</p>
<p>
  <strong>description</strong>
  <%= @list.description3 %>
</p>

<p>
  <strong>3.<%= @list.third %></strong>
</p>
<p>
  <strong>location</strong>
  <%= @list.location3 %>
</p>
<p>
  <strong>price $</strong>
  <%= sprintf('%.2f',(@list.price3)) %>
</p>
<p>
  <strong>description</strong>
  <%= @list.description3 %>
</p>

<p>
  <strong>4.<%= @list.fourth %></strong>
</p>
<p>
  <strong>location</strong>
  <%= @list.location4 %>
</p>
<p>
  <strong>price $</strong>
  <%= sprintf('%.2f',(@list.price4)) %>
</p>
<p>
  <strong>description</strong>
  <%= @list.description4 %>
</p>

<p>
  <strong>5.<%= @list.fifth %></strong>
</p>
<p>
  <strong>location</strong>
  <%= @list.location5 %>
</p>
<p>
  <strong>price $</strong>
  <%= sprintf('%.2f',(@list.price5)) %>
</p>
<p>
  <strong>description</strong>
  <%= @list.description5 %>
</p>

