<!DOCTYPE html>
<html>
<head>
  <title>Top5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar ">
  <% if current_user %>
    Welcome, <%= current_user.user_name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
  <td><%= link_to 'Log Out', session_path('end'), method: :delete %></td>
  <% else %>
  <td><%= link_to 'New User', new_user_path %></td>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <td><%= link_to 'Login', new_session_path   %></td>
<% end %>
&nbsp;&nbsp;|&nbsp;&nbsp;

<%= link_to 'Top 5', root_path, :class => "topper" %>
</nav>
<p id = "notice"><%= notice %></p>
<%= yield %>

</body>
</html>
